*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url(../web_fonts/font.css);
@mixin minwidth($width){
	@media only screen and (min-width: $width){
		@content;
	}
}
@mixin maxwidth($width){
	@media only screen and (max-width: $width){
		@content;
	}
}
$primaryFont: "Poppins", sans-serif;
$primaryColor: #1a1a1a;
$secondaryColor: #0d1931;
$whiteColor: #fff;
$skyBlue: #088178;
$allHeading: 'h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6';
body{

    font-family: $primaryFont;
    color: $secondaryColor;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    @include minwidth(1200px){
        font-size: 18px;
    }
    @include minwidth(1400px){
        font-size: 22px;
    }
}
html{
    scrollbar-width: thin;
    scrollbar-color: #0d1931 #ddd;
    &::-webkit-scrollbar{
        width: 0.5vw;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #0d1931;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-track{
        background-color: #ddd;
    }
}
#{$allHeading}{
    font-weight: 600;
}
h1, .h1{
    font-size: 28px;
    font-weight: 500;
    @include minwidth(768px){
        font-size: 30px;
    }
    @include minwidth(992px){
        font-size: 40px;
    }
    @include minwidth(1200px){
        font-size: 50px;
    }
    @include minwidth(1400px){
        font-size: 55px;
    }
}
h2, .h2{
    font-size: 25px;
    font-weight: 700;
    @include minwidth(768px){
        font-size: 30px;
    }
    @include minwidth(992px){
        font-size: 35px;
    }
    @include minwidth(1400px){
        font-size: 40px;
    }
}
h3, .h3{
    font-size: 22px;
    @include minwidth(992px){
        font-size: 28px;
    }
    @include minwidth(1200px){
        font-size: 35px;
    }
}
h4, .h4{
    font-size: 20px;
    @include minwidth(992px){
        font-size: 22px;
    }
    @include minwidth(1400px){
        font-size: 30px;
    }
}
h5, .h5{
    font-size: 18px;
    @include minwidth(1200px){
        font-size: 22px;
    }
}
h6, .h6{
    font-size: 16px;
}
img{
    max-width : 100%;
    height : auto;
    object-fit: cover;
}
a{
    color: $primaryColor;
    transition: 0.3s all;
    text-decoration: none;
    &:hover{
        color: $skyBlue;
    }
}
input[type=text],input[type=email],input[type=password],input[type=tel],input[type=url],input[type=search],[type=number],[type=file],textarea, select{
    border: none;
    padding: 0px 10px;
    margin-bottom: 12px;
    width: 100%; 
    border-radius: 0px;  
    height: 42px;
    background-color: #eeeff2;
    color: #0d1931;
    outline-offset: 0px;
    font-size: 15px;
    color: $secondaryColor;
    @include minwidth(1200px){
        font-size: 17px;
    }
    &:focus{
        outline: 1px solid #1797ff;
    }
    &::placeholder{
        font-size: 15px;
        color: #858585;
        @include minwidth(1200px){
            font-size: 17px;
        }
    }
}
input[type=checkbox]{
    height: auto !important;
}
select{
    font-size: 15px;
    color: #858585;
    @include minwidth(1200px){
        font-size: 17px;
    }
}
textarea{
    height: 70px;
    resize: none;
    padding: 10px;
}
input[type=submit],input[type=button],button,.button,.btn-primary{
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    color: $whiteColor;
    background-color: $secondaryColor;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    border-radius: 0;
    padding: 8px 20px;
    font-size: 16px;
    transition: 0.4s all;
    &:hover, &:active{
        background-color: #23417d;
        color: $whiteColor;
        text-decoration: none;
    }
}
ul{
    padding-left: 20px;
    list-style: "– ";
}
li{
    list-style: none;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
@mixin backgroundImgControl {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
// All section top and bottom padding: 
.sectionPadding{
    padding: 20px 0;
    @include minwidth(1200px){
        padding: 40px 0;
    }
}
.sectionMargin{
    margin: 20px 0;
    @include minwidth(1200px){
        margin: 40px 0;
    }
}

// header section css code start: 
#header{
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 0 20px;
    @include minwidth(576px){
        padding: 0;
    }
    .container{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 20px 0;
    }
    .logo{
        width: 60%;
        @include minwidth(768px){
            width: 20%;
        }
        img{
            width: 130px;
        }
    }
    .menu_part{
        width: 40%;
        @include minwidth(768px){
            width: 80%;
        }
        text-align: right;
    }
    #mobileMenu{
        display: none;
        @include minwidth(768px){
            display: none;
        }
    }
    #desk_menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        #menu_bars{
            font-size: 30px;
            @include minwidth(768px){
                display: none;
            }
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            margin: 0;
            padding: 0;
            .menu-item,.page_item {
                margin-right: 20px;
                position: relative;
                &:last-of-type{
                    margin-right: 0;
                }
            }
        }
        >li{
            margin-left: 20px;
            position: relative;
        }
 
        a{
            font-size: 18px;
            font-weight: 600;
            @include minwidth(768px){
                &::after{
                    position: absolute;
                    content: '';
                    width: 0;
                    height: 2px;
                    bottom: -5px;
                    left: 0;
                    background-color: $skyBlue;
                    transition: 0.3s ease-in-out;
                }
            }
            &:hover{
                &::after{
                    width: 100%;
                }
            }
        }
        #menu{
            display: none;
            @include minwidth(768px){
                display: block;
            }
        }

        .cart {
            position: relative;
            &::after{
                content: var(--cart-content, '');;
                position: absolute;
                top: -10px;
                z-index: -1;
                background-color: red;
                min-width: 20px;
                min-height: 20px;
                width: max-content;
                height: max-content;
                border-radius: 50%;
                font-size: 12px;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }
    }
}
.current-menu-item, .current_page_item{
    a{
        color: $skyBlue !important;
        &::after{
            width: 50% !important;
        }
    }
}
#busket{
    position: relative;
    &::before{
        content:  var(--busket-before-content);
        width: max-content;
        min-width: 20px;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 400;
        font-size: 12px;
        border-radius: 50%;
        padding: 3px;
        position: absolute;
        // right: 0;
        top: -15px;
        background-color: red;
        z-index: -1;
    }
}
//banner section css code start: 
#banner{
    background-color: #ffffff;
    padding-bottom: 30px;
    @include minwidth(992px){
        min-height: 520px;
        padding-bottom: 0;
    }
    @include minwidth(1200px){
        min-height: 580px;
    }
    @include minwidth(1400px){
        min-height: 650px;
    }
    @include minwidth(1600px){
        min-height: 850px;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 60px;
        width: 100%;
    }
    .banner_text{
        width: 100%;
        @include maxwidth(991px){
            order: 2;
            text-align: center;
        }
        @include minwidth(992px){
            width: 60%;
        }
        @include minwidth(1200px){
            width: 50%;
        }
        @include minwidth(1600px){
            width: 35%;
        }
        h1, .product{
            color: $skyBlue;
            margin-bottom: 15px;
        }
        h2, .deals{
            margin-bottom: 0;
        }
        h4, .offer{
            margin-bottom: 10px;
            // color: $primaryColor;
        }
    }
    .banner_img{
        width: 100%;
        @include maxwidth(991px){
            order: 1;
            margin-bottom: 20px;
            text-align: center;
        }
        @include minwidth(992px){
            width: 40%;
        }
        @include minwidth(1200px){
            width: 50%;
        }
        @include minwidth(1600px){
            width: 65%;
        }
        img{
            width: 60%;
            @include minwidth(992px){
                width: 100%;
            }
            @include minwidth(1200px){
                width: 75%;
            }
        }
    }
    .button{
        background-color: transparent;
        border: 0;
        color: $skyBlue;
        background-image: url('../img/button.png');
        padding: 10px 40px;
        @include backgroundImgControl();
        transition: 0.3s ease;
        &:hover{
            color: #088179aa;
        }
    }
}
//feature section css code start: 
#Feature {
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .feature_box {
        width: 210px;
        margin:0 20px 20px 0;
        text-align: center;
        border: 1px solid #cce7d0;
        transition: 0.3s ease;
        padding: 15px 0;
        &:hover {
            box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.05);
            .feature_text::after, .feature_img::after{
                transform: translateY(10px);
            }
            h6,.feature_text_h6 {
                color: $skyBlue;
            }
        }
        @include minwidth(768px){
            width: 210px;
            margin-right: 24px;

        }
        @include minwidth(1200px){
            width: 175px;
            margin:0 13px 0 0;
            &:nth-last-child(1) {
                margin-right: 0;
            }
        }
        @include minwidth(1400px){
            width: 201px;
            margin-right: 18px;
            padding: 20px 0;
        }
    }
    .feature_img{
        width: calc(100% - 10px);
        display: flex;
        align-items: center;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: 0;
            width: 10px;
            height: 40px;
            transition: 0.3s ease-in-out;
            opacity: 0.7;
        }
        img{
            width: 100%;
        }
    }
    .feature_text {
        margin: 30px auto 15px auto;
        width: 80%;
        padding: 5px 10px;
        text-align: center;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 15px;
            width: 10px;
            height: 40px;
            transition: 0.3s ease-in-out;
            opacity: 0.7;
        }
        h6,.feature_text_h6 {
            margin: 0;
            transition: 0.3s ease;
        }
    }
}
// feature product section css code start: 
.featureProduct{
    .featureProductText{
        width: 100%;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 50px;
        h2{
            margin-bottom: 10px;
        }
        p{
            font-size: 14px;
            color: #000000b6;
        }
    }
    .allFeatureProduct ,.pagination{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include minwidth(768px){
            justify-content: unset;
        }
    }
    .fProduct{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        margin-bottom: 10px;
        border: 1px solid #cce7d0;
        border-radius:  15px;
        padding: 10px;
        transition: 0.3s ease;
        cursor: pointer;
        &:hover{
            box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.06);
        }
        @include minwidth(425px){
            width: 80%;
        }
        @include minwidth(576px){
            width: 70%;
        }
        @include minwidth(768px){
            width: calc(50% - 15px);
            margin-left: 15px;
            margin-bottom: 15px;
        }
        @include minwidth(992px){
            width: calc(33.33% - 20px);
            margin-left: 20px;
            margin-bottom: 20px;
        }
        @include minwidth(1200px){
            width: calc(25% - 20px);
            margin:0 17px 17px 0;
        }
    }
    .fProducttop{
        img{
            width: 100%;
            border-radius: 15px;
        }
        p,.company_name{
            margin-top: 20px;
            font-size: 15px;
            margin-bottom: 8px;
            color: #606063;
        }
    }
    .fProductText_bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        text-align: start;
        position: relative;
        margin: 20px 0;
        h6{
            text-transform: capitalize;
            color: #1a1a1a;
            font-weight: 700;
        }
     
        h5{
            margin: 10px 0;
            color: #088178;
            ins{
                text-decoration: none;
            }
        }
        .product_type_variable,.product_type_simple{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #e8f6ea;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: 500;
            color: #088178;
            border: 1px solid #cce7d0;
            transition: 0.3s ease;
            cursor: pointer;
            &::after{
                position: absolute;
                bottom: -17px;
                width: max-content;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s ease-out;
                font-size: 12px;
                transform: translateY(5px);
            }
            &:hover{
                color: #0ecd25;
                &::after{
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            &::before{
                content: "\f217";
                font-family: "Font Awesome 6 Pro";
                font-weight: 400;
            }
        }
        .product_type_variable{
            &::before{
                content: "\f475" ;
                font-weight: 900;
            }
        }
    }
    .pagination{
        padding: 30px 0 10px 0;
    }
}
//discount section css code start : 
#discount{
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    @include backgroundImgControl();
    .container{
        padding: 20px 0;
        @include minwidth(768px){
            padding: 40px 0;
        }
        @include minwidth(1200px){
            padding: 80px 0;
        }
        h2{
            margin: 10px 0 15px 0;
            @include minwidth(992px){
                margin-bottom: 30px;
            }
        }
        span{
            color: #ff0000ed;
        }
        button{
            background-color: #fff;
            color: #1a1a1a;
            border-radius: 5px;
            transition: 0.3s ease;
            padding: 8px 20px;
            font-size: 16px;
            font-weight: 600;
            &:hover{
                background-color: #088178;
                color: #fff;
            }
        }
    }
}
//new Arrival section css code start:
.newArrival{
    margin-top: 80px;
}
// offer and upcomming season section css code start : 
#OfferUpcomming{
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include minwidth(992px){
            justify-content: space-between;
        }
        .Offer{
            width: 100%;
            padding: 100px 20px;
            color: #fff;
            @include backgroundImgControl();
            background-color: #0000003d ;
            background-blend-mode: multiply;
            margin-bottom: 10px;
            @include minwidth(768px){
                width: 80%;
            }
            @include minwidth(992px){
                width: calc(50% - 10px);
                margin-bottom: 20px;
            }
        }
        .oDescription{
            font-size: 16px;
            margin-top: 10px;
        }
        button{
            background-color: transparent;
            border: 1px solid #fff;
            text-transform: capitalize;
            transition: 0.3s ease;
            background-color: transparent;
            border: 1px solid #fff;
            text-transform: capitalize;
            transition: 0.3s ease;
            color: white;
            font-size: 16px;
            padding: 8px 20px;
            &:hover{
                background-color: #088178;
                border-color: #088178;
            }
        }
    }
}
//bannerTwo section css code start: 
#collection{
    margin-bottom: 40px;
    .container{
        display: flex;
        flex-wrap: wrap;
        @include minwidth(768px){
            justify-content: center;
        }
        @include minwidth(768px){
            justify-content: flex-start;
        }
        .collectionMain{
            overflow: hidden;
            width: 100%;
            min-height: 100%;
            background-color: red;
            margin:5px 5px;
            @include minwidth(768px){
                width: calc(50% - 10px);
            }
            @include minwidth(1200px){
                width: calc(var(--min-1200-width) - 10px);
            }
        }
        .collectionbox{
            text-align: center;
            padding: 50px 0;
            height: 100%;
            transition: 0.5s ease;
            @include backgroundImgControl();
            &:hover{
                transform: scale(1.1);
            }

        }
        h4{
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
        }
        h6{
            color: #ff0000d1;
            text-transform: capitalize;
        }
    }

}
//newsletter section css code start: 
#newsLetter{
    z-index: 999;
    background-repeat: no-repeat;
    background-image: url('../img/banner/b14.png');
    background-position: 20% 30%;
    background-color: #041e42;
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: #fff;
        padding: 20px 0;
        text-align: center;
        @include minwidth(768px){
            justify-content: space-between;
            text-align: start;
        }
    }
    .newsLetter_textPart{
        width: 80%;
        margin-bottom: 20px;
        @include minwidth(576px){
            width: 60%;
        }
        @include minwidth(768px){
            width: 50%;
            margin-bottom: 0;
        }
        @include minwidth(992px){
            width: 60%;
        }
        @include minwidth(1200px){
            width: 65%;
        }
        h4{
            font-weight: 400;
            text-transform: capitalize;
        }
        .newsLetter_p{
            font-size: 16px;
            color: #818ea0;
        }
        p{
            margin: 0;
        }
        span{
            color: #ffbd27;
        }
    }
    .newsLetter_from{
        width: 80%;
        display: flex;
        height: 45px;
        justify-content: center;
        @include minwidth(576px){
            width: 60%;
        }
        @include minwidth(768px){
            width: 50%;
        }
        @include minwidth(768px){
            width: 50%;
        }
        @include minwidth(992px){
            width: 40%;
        }
        @include minwidth(1200px){
            width: 35%;
        }
        input{
            width: 150px;
            height: 100%;
            @include minwidth(576px){
                width: 220px;
            }
            @include minwidth(992px){
                width: 300px;
            }
        }
        input::placeholder{
            font-size: 14px;
        }
        button{
            // width: 100px;
            width: max-content;
            padding: 0 20px;
            color: white;
            font-size: 16px;
            font-weight: 600;
            height: 100%;
            background-color: #088178;
        }

    }
}
//footer section css code start : 
#footer{
    padding-top: 40px;
    @include minwidth(1200px){
        padding-top: 80px;
    }
    .container{
        text-align: start;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
        text-transform: capitalize;
    }
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            font-size: 14px;
            @include minwidth(1200px){
                font-size: 16px;
            }
        }
        span{
            font-weight: 600;
        }
    }
    .contactText , .aboutText{
        margin-bottom: 20px;
        @include minwidth(768px){
            margin-bottom: 0;
        }
    } 
    .contactText{
        width: 80%;
        @include minwidth(576px){
            width: 60%;
        }
        @include minwidth(768px){
            width: 32%;
        }
        @include minwidth(992px){
            width: 35%;
        }
        h5{
            font-weight: 600;
        }
        .copyrightText{
            font-size: 14px;
        }
    }
    .aboutText{
        width: 80%;
        @include minwidth(576px){
            width: 40%;
        }
        @include minwidth(768px){
            width: 23%;
        }
        @include minwidth(992px){
            width: 18%;
        }
    }
    .accountText{
        width: 80%;
        margin-bottom: 20px;
        @include minwidth(576px){
            width: 40%;
            margin-bottom: 0;
        }
        @include minwidth(768px){
            width: 20%;
        }
        @include minwidth(992px){
            width: 17%;
        }
    }
    .installappText{
        width: 80%;
        @include minwidth(576px){
            width: 60%;
        }
        @include minwidth(768px){
            width: 25%;
        }
        @include minwidth(992px){
            width: 30%;
        }
        p{
            font-size: 16px;
        }
        .appstore{
            display: flex;
            margin-bottom: 10px;
        }
        .payment{
            width: 210px;
        }
        img{
            width: 100%;
        }
        .singleAppstore{
            width: 150px;
            border: 1px solid #1a1a1a;
            margin-right: 10px;
            border-radius: 10px;
            &:nth-last-child(1){
                margin-right: 0;
            }
        }
    }
    
}

//shopPage css code start:
#shopBanner{
    color: #fff;
    @include backgroundImgControl();
    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        min-height: 220px;
        text-align: center;
        @include minwidth(992px){
            min-height: 280px;
        }
        @include minwidth(1200px){
            min-height: 320px;
        }
    }
    h2,.other_banner_title{
        text-transform: lowercase;
    }
    .shopBanner_ptext{
        font-size: 16px;
    }
}
//Single product page css code start: 
#productInfo{
    padding: 40px 0 20px 0;
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .productImg, .productText{
        margin: 0 auto;
    }
    .productImg{
        width: 90%;
        margin-bottom: 30px;
        @include minwidth(576px){
            width: 80%;
        }
        @include minwidth(768px){
            width: 70%;
        }
        @include minwidth(992px){
            width: 40%;
            margin-bottom: 0;
        }
    }
    .pMainImg{
        cursor: zoom-in;
        overflow: hidden;
    }
    .pSmallImg{
        margin-top: 10px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        img{
            width: 24%;
            cursor: pointer;
            border: 2px solid transparent;
        }
        img.clicked{
            border-color: #041e42c8;
        }
    }
    .productText{
        width: 90%;
        @include minwidth(576px){
            width: 80%;
        }
        @include minwidth(768px){
            width: 70%;
        }
        @include minwidth(992px){
            width: 55%;
        }
        h5{
            text-transform: capitalize;
        }
        .productSize{
            margin-top: 20px;
            width: 120px;
        }
    }
    .cart{
        display: flex;
        width: max-content;
        height: max-content;
        margin: 10px 0 30px 0;
        input{
            max-width: 120px;
            min-width: 60px;
            width: 60px;
            height: 50px;
            margin-right: 10px;
            margin-bottom: 0;
            transition: 0.3s ease;
            @include minwidth(576px){
                margin-right: 20px;
            }
        }
        button{
            width: 130px;
            text-transform: capitalize;
            background-color: #0b9a1cce;
            border-radius: 5px;
            text-align: center;
            transition: 0.3s ease;
            font-size: 14px;
            @include minwidth(576px){
                width: 140px;
            }
            &:hover{
                background-color: #0ecd25;
            }
        }
    }
    .productDetials{
        p{
            font-size: 16px;
        }
    }
}

// blog page css code start: 
#blog{
    padding-top: 60px;
    @include minwidth(576px){
        padding-top: 80px;
    }
    @include minwidth(992px){
        padding: 120px 0 40px 0;
    }
    .mainBolgPart{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .singleBlog{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;
        @include minwidth(1200px){
            margin-bottom: 90px;
        }
    }
    .blogImg{
        width: 290px;
        position: relative;
        @include maxwidth(991px){
            margin: 0  auto 20px auto;
        }
        @include minwidth(576px){
            width: 80%;
        }
        @include minwidth(992px){
            width: 50%;
        }
        @include minwidth(1200px){
            width: 58%;
        }
        img{
            width: 100%;
            height: 220px;
            @include minwidth(768px){
                height: 250px;
            }
            @include minwidth(1200px){
                height: 350px;
            }
        }
        h2{
            position: absolute;
            top: -25px;
            left: 0;
            color: #606063;
            z-index: -100;
            font-size: 30px;
            @include minwidth(576px){
                font-size: 40px;
                top: -35px;
            }
            @include minwidth(992px){
                font-size: 50px;
                top: -40px;
            }
            @include minwidth(1200px){
                font-size: 60px;
                top: -50px;
            }
        }
    }
    .blogText{
        width: 290px;
        @include maxwidth(991px){
            margin: 0  auto;
        }
        @include minwidth(576px){
            width: 80%;
        }
        @include minwidth(992px){
            width: 45%;
        }
        @include minwidth(1200px){
            width: 38%;
        }
        h5{
            text-transform: capitalize;
        }
        .blogP{
            font-size: 16px;
            padding-bottom: 7px;
        }
        a{
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            transition: 0.3s ease;
            position: relative;
            &::after{
                position: absolute;
                content: '';
                background-color: #000000;
                width: 60px;
                height: 2px;
                right: -80px;
                top: 50%;
                @include minwidth(1200px){
                    width: 100px;
                    right: -130px;
                }
            }
            &:hover{
                color: #606063;
                &::after{
                    background-color: #606063;
                }
            }
        }
    }
}

//about page css code start: 
//about head section css code start:
#aboutHead{
    margin: 10px 0;
    .aboutHeadInner{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @include minwidth(992px){
            justify-content: space-between;
        }
    }
    .aboutHeadImgPart{
        margin-bottom: 20px;
        @include minwidth(992px){
            margin-bottom: 0;
        }
    }
    .aboutHeadImgPart, .aboutHeadTextPart{
        width: 300px;
        @include minwidth(576px){
            width: 80%;
        }
        @include minwidth(992px){
            width: 48%;
        }
    }
    h2{
        text-transform: capitalize;
    }
    p{
        font-size: 14px;
        @include minwidth(1200px){
            font-size: 16px;
        }
    }
    .otherText{
        font-size: 16px;
        margin-top: 15px;
        @include minwidth(1200px){
            font-size: 18px;
        }
    }
    #marquee{
        cursor: pointer;
    }
}
//about app section css code start:
#aboutApp{
    overflow: hidden;
    transition: transform 0.3s ease-in-out;

    transform: unset; 
    transform: translate3d(0, 100px, 0); 
    
    .aboutAppInner{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        h2{
            text-transform: capitalize;
            margin-bottom: 20px;
            @include minwidth(576px){
                margin-bottom: 40px;
            }
        }
        .aboutAppVideoPart{
            width: 300px;
            @include minwidth(576px){
                width: 80%;
            }
        }
        video{
            width: 100%;
            border-radius: 10px;
        }
    }
}

//contact page css code start: 
// contact Details section css code start:
#contectDetails{
    .contectDetailsInner{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @include minwidth(992px){
            justify-content: space-between;
        }
    }
    .contectDetailsText, .contectDetailsMap{
        width: 300px;
        @include minwidth(576px){
            width: 80%;
        }
        @include minwidth(992px){
            width: 48%;
        }
    }
    .contectDetailsText{
        @include maxwidth(991px){
            order: 2;
        }
        span{
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
            color: #858585;
        }
        h4, h6{
            text-transform: capitalize;
            margin-top: 10px;
        }
        ul{
            margin:10px 0 0 0;
            padding: 0;
            font-size: 16px;
        }
        li{
            margin-bottom: 8px;
        }
        i{
            margin-right: 10px;
        }
    }
    .contectDetailsMap{
        height: 250px;
        @include maxwidth(991px){
            margin-bottom: 30px;
            order: 1;
        }
        @include minwidth(576px){
            height: 300px;
        }
        @include minwidth(1200px){
            height: 400px;
        }
        .map{
            width: 100%;
            height: 100%;
        }
    }
    
}
//contact form section css code start : 
#contactForm{
    .contactFormInner{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 2px solid #818ea0d2;
        border-radius: 10px;
        padding: 30px 10px;
        @include minwidth(576px){
            padding: 50px 20px;
        }
        @include minwidth(992px){
            justify-content: space-between;
            padding:50px;
        }
    }
    .Form, .contactMember{
        width: 300px;
        @include minwidth(576px){
            width: 80%;
        }
    }
    .Form{
        @include maxwidth(991px){
            margin-bottom: 30px;
        }
        @include minwidth(992px){
            width: 55%;
        }
        @include minwidth(1200px){
            width: 62%;
        }
        span{
            font-size: 16px;
            text-transform: uppercase;
            color: #606063;
            font-weight: 600;
        }
        h4{
            text-transform: capitalize;
            margin: 5px 0 30px 0;
        }
        button{
            background: #088178;
            border-radius: 5px;
        }
    }
    .contactMember{
        @include minwidth(992px){
            width: 38%;
        }
        @include minwidth(1200px){
            width: 32%;
        }
    }
    .singleMember{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
        &:nth-last-child(1){
            margin-bottom: 0;
        }
        .memberImg{
            width: 15%;
            @include minwidth(992px){
                width: 20%;
            }
        }
        .memberText{
            width: 80%;
            @include minwidth(992px){
                width: 75%;
            }
        }
        ul{
            margin: 0;
            padding: 0;
            font-size: 14px;
            text-transform: capitalize;
        }
        li{
            margin-bottom: 4px;
        }
    }
}
//cart page css code start: 
#cart{
    padding-top: 60px;
    .table-responsive{
        @include maxwidth(767px){
            overflow-x: auto;
            .table{
                width: 700px;
            }
        }
    }
    .table{
        font-size: 16px;
        th{
            text-align: center;
            text-transform: uppercase;
            font-size: 16px;
        }
        td {
            vertical-align: middle; 
            text-align: center;
            
        }
        input{
            width: 50px;
        }
        img{
            width: 60px;
            border-radius: 10px;
        }
    }
}